<!DOCTYPE html>
<html>
<head>
    <title>Параметры статьи</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>
<body>
{% load my_tags %}
    <div class="container mt-5">
        <img src="{{ object.image_article | media_filter }}"
                        alt="{{ object.title_article }}"
                        class="card-img-top"
                        style="height: 350px; width: 100%; object-fit: cover;">
            <h1 class="mb-4">{{ article.title_article }}</h1>
            <p>{{ article.content_article|linebreaks }}</p>
            <p>Создано: {{ article.created_at }}</p>
            <p>Обновлено: {{ article.updated_at }}</p>
            <a href="{% url 'blogs:article_update' article.pk %}" class="btn btn-secondary">Редактировать</a>
            <a href="{% url 'blogs:article_confirm_delete' article.pk %}" class="btn btn-danger">Удалить</a>
            <a href="{% url 'blogs:article_list' %}" class="btn btn-primary">Вернуться к списку статей</a>
    </div>
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>