{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h1 class="mb-4">Категории продуктов</h1>
        <h1>{{ category.name_category }}</h1>
        <p>Найдено товаров: {{ products.count }}</p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ product.image_product | media_filter }}"
                                    alt="{{ product.name_product }}"
                                    class="card-img-top"
                                    style="height: 350px; width: 100%; object-fit: cover;">

                    <div class="card-body">
                        <p class="card-text">
                        <h5>{{ product.name_product }}</h5>
                        <p class="card-text">Цена: {{ product.price_product }} ₽</p>
                        <a>{{ product.description_product|truncatechars:100 }}</a>
                        <p>Владелец: {{ product.owner.username|default:"Не указан" }}</p>
                        {% if product.owner == user %}
                            <span class="badge bg-success ms-2">Мой продукт</span>
                        {% endif %}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}