{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ object.image_product | media_filter }}"
                            alt="{{ object.name_product }}"
                            class="card-img-top"
                            style="height: 350px; width: 100%; object-fit: cover;">
                        <h1 class="mb-4">{{ object.name_product }}</h1>
                        <p>{{ object.description_product|linebreaks }}</p>
                        <p>Создано: {{ object.created_at }}</p>
                        <p>Обновлено: {{ object.updated_at }}</p>
                        <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-secondary">Редактировать</a>
                        <a href="{% url 'catalog:product_confirm_delete' product.pk %}" class="btn btn-danger">Удалить</a>
                        <a href="{% url 'catalog:product_list' %}" class="btn btn-primary">Вернуться к списку продуктов</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


